body{
    padding: 0 20px;
    text-align: center;
}

.input-group{
    width: 40%;
    min-width: 200px;
    margin: 50px auto;
}

.input-group.last{
    margin-bottom: 10px;
}

.form-control{
    font-size: 40px;
    height: 90px;
    text-align: center;
}

#result{
    font-size: 140px;
}